<div class="row">
  <div class="col-lg-12">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">home</a></li>
          <li><a href="{{ site.baseurl }}posts/">posts</a></li>
          <li><a href="{{ site.baseurl }}reviews/">reviews</a></li>
          <li><a href="{{ site.baseurl }}talks">talks</a></li>
          <li><a href="{{ site.baseurl }}tips">tips & tricks</a></li>
          <li><a href="{{ site.baseurl }}casts">*casts</a></li>
          <li><a href="{{ site.baseurl }}zines">*zines</a></li>
          |
          <li><a href="{{ site.baseurl }}category/">categories</a></li>
          <li><a href="{{ site.baseurl }}feed.xml">feed</a></li>
      </ul>
    </div>
  </div>
</div>
