<!DOCTYPE html>
<html lang="pt">

  {% include head.html %}

    <body>
      <div class="container">

        {% include header.html %}

	<main>
          <div class="row">
            <div class="col-lg-12">
              <main>
              {{ content }}
              </main>
            </div>
          </div>
	</main>

        {% include footer.html %}

      </div>
    </body>
</html>
